COMPOSE_PROJECT_NAME=ebot

# Configuration d'eBot
EBOT_IP=192.168.1.x
LOG_ADDRESS_SERVER=http://192.168.1.x:12345
EBOT_ADMIN_LOGIN=admin
EBOT_ADMIN_PASSWORD=admin
EBOT_ADMIN_EMAIL=admin@admin
WEBSOCKET_SECRET_KEY=websocket_key
COMMAND_STOP_DISABLED=true
WEBSOCKET_URL=http://192.168.1.x:12360

# Configuration de la base de données
MYSQL_USER=ebotv3
MYSQL_DATABASE=ebotv3
MYSQL_PASSWORD=ebotv3
MYSQL_ROOT_PASSWORD=ebotv3
